
/*   font-family: "Montserrat", sans-serif;
 font-family: "DM Sans", sans-serif;

*/

.container{
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

/* ------- MENU + BLOCK 1 ---------  */


.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 44px 0;
  flex-wrap: wrap;
}

.logo {
  font-size: 24px;
  color: #244D4D;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.menuLINK {
  display: flex;
  gap: 50px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

.menuLINK a {
  color: #161616;
  font-size: 16px;
  gap: 50px;
}

.photos {
  display: flex;
  gap: 30px;
}



.block1con{
  display: flex;
}

.block1_2{
width: 1200px;
height: 560px;
background-image:url("../img/green.png")
}

.h11{
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 56px;
  color: #fff;
  margin-top: 101px;
  margin-left: 100px;
}

.p1{
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #fff;
  margin-left: 100px;
  margin-top: 20px;
}

.button1{
  width: 172px;
  height: 56px;
  margin-left: 100px;
  margin-top: 35px;
  border: none;
  font-size: 20px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
}



/* BLOCK 2 */

.block2{
  margin-top: 140px;
}

.block2_h2{
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #244D4D;
  text-align: center;
}

.logos{
  display: flex;
  padding-top: 40px;
  gap: 100px;
  justify-content: center;
  flex-wrap: wrap;
}


/* Block 3*/



.main1{
  display: flex;
  padding-top: 140px;
}

.text{
  padding-left: 100px;
}

.b3h2{

  padding-top: 46px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #244D4D;
}

.b3p1{
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #444444;
  padding-top: 20px;
 
}

.mainPHOTO{
  display: flex;
  gap: 28px;
  margin: 30px 0;
}

.h3ABT{
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #244D4D;
  line-height: 26px;
}
.pAbt{
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #383738;
}

.idk{
  max-width: 100%;
}


/*BLOCK4 */

.block4{
  padding-top: 140px;
}

.b4h2{
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font: 32px;
  line-height: 52px;
  color: #242424;
}

.b4p1{
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #383738;
  padding-top: 20px;
}



.card{
  width: 380px;
  height: 450px;
  background-color: #FFFFFF;
  margin-top: 80px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pCARD{
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #242424;
  padding-top: 30px;
  padding-left: 24px;
}
.cash{
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #154444;
  padding-top: 20px;
  padding-left: 24px;
}

.inside1{
  display: flex;
  justify-content: space-between;
}
.images1{
  margin-top: 30px;
  margin-right: 24px;
}

.inside2{
  display: flex;
  justify-content: space-between;
}
.button{
  margin-top: 21px;
  margin-right: 24px;
}

.mainBTN{
  font-family: "DM Sans", sans-serif;
  width: 78px;
  height: 32px;
  background-color: #244D4D;
  color: white;
  border: none;
  font-size: 12px;
  font-weight: 500;
}

.idk1{
  display: flex;
  justify-content: space-between;
}



.swiper-button-next, .swiper-button-prev {
  position: sticky !important;
  top: var(--swiper-navigation-top-offset, 50%);
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
  gap: 5px !important;
  color: #244D4D !important;
}




/* block5 */

.all{
  text-align: center;
  padding-top: 140px;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
  color: #242424;
}

.textInside{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  padding-top: 20px;
}
.def{
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 27px;
  color: #154444;
}
.insides{
  display: flex;
}
.mainphoto{
  margin-top: 89px;
position: relative;
display: inline-block;
}
.photosBLOCK{
  margin-top: 120px;
  margin-left: 135px;
 
}

.photosBLOCK img{
  margin: 15px;
}

.fakeframe{
  position: absolute;
  z-index: -1;

}
.yesyes{
  display: block;
 
}
.firstrec {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-5%, -10%);
}

.secondrec {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(4%, -5%);
}


.under{
  position: relative;
  cursor: pointer;
  display: inline-block; 
}
.under::after{
  content: "";
  position: absolute;
  left: 50%;                      
  bottom: -6px;                   
  transform: translateX(-50%);    
  width: 60%;                     
  height: 4px;                   
  background: #154444;           
}

/* block6 */


.block6inside{
  display: flex;
  margin-top: 140px;
}

.funky{
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #242424;
  padding-left: 100px;
  padding-top: 105px;
}
.funkyp{
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #383738;
  padding-top: 20px;
  padding-left: 100px;
}
.jhon{
  padding-top: 40px;
  padding-left: 100px;
}
.jhoncon{
  display: flex;
}
.jhon2{
  padding-top: 44px;
  padding-left: 10px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.star{
  color: gold;
}
.textidk{
  padding-left: 5px ;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  color: #000000;
}



@media (max-width: 900px){
  .block2{
    margin-top: 50px;
  }
  .main1{
    flex-direction: column;
  }
  .b3h2{
    text-align: center;
  }
  .b3p1{
    text-align: center;
  }
  .text{
    padding-left: 0;
  }
}



@media (max-width: 815px){
  .chair{
    width: auto;
    align-items: center;
  }
  .block1con{
    display: flex;
    flex-direction: column;
   }
   .block1_2{
    width: 800px;
    height: 500px;
   }
}





@media (max-width: 450px) {
  .container{
    padding: 0;
    margin: 0;
  }
  .menuLINK{
    gap: 19px;
  }
  .logo{
   padding: 20px 0;
  }
  .photos{
    gap: 9px;
  }
 .block1con{
  display: flex;
  flex-direction: column;
 }
 .h11{
  font-size: 18px;
  margin: 40px 10px;
 text-align: center;
 }
 .p1{
  font-size: 14px;
  margin: 20px 10px;
  text-align: center;

 }
 .block1_2{
  width: 410px;
  height: 300px;
 }
 .button1{
  display: block;
  margin: auto;
 }
 .chair{
  width: 410px;

 }
}


.swiper {
  width: 100%;
  height: 550px;
}

.tableimg {
  position: relative;
  display: inline-block;
  
}

.circle {
  position: absolute;
  left: -30%;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
  z-index: 0;
}

.main444 {
  position: relative;
  z-index: 1;
  width: 100%;   
  height: auto;
  display: block;
}

.dark{
  background-color: #F4F6F6;
  margin-top: 140px;
 padding-bottom: 20px;
}

.sub{
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  padding-top: 68px;
  text-align: center;
}

.lorem{
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-top: 20px;
  text-align: center;
}



.email-box {
  margin-top: 40px;
  display: flex;
  justify-content: center; 
  align-items: center;     
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 400px;
  padding: 10px;           
  margin: 40px auto; 
}


.email-box .icon {
  padding: 0 10px;
  color: #777;
  font-size: 16px;
}

.email-box input {
  font-family: "DM Sans", sans-serif;
  flex: 1;
  border: none;
  padding: 12px;
  font-size: 14px;
}

.email-box button {
  font-family: "DM Sans", sans-serif;
  background: #305F64;
  color: #fff;
  border: none;
  padding: 15px 32px;
  cursor: pointer;
  font-size: 14px;
  
}

.block8{
  background-color: #305F64;
  width: 100%;
  height: 442px;
  margin-top: 100px;
}

.b8table{
color: white;
font-family: "Montserrat", sans-serif;
}
